*{
    margin: 0;
    padding: 0;
    /*font-family: PingFang-SC-Medium;*/
    font-family: 'KaiTi',"Microsoft YaHei";
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
*::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
*::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #535353;
}
*::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
button,input{
    border: none;
    outline: none;
    background: transparent;
}
input{
    background-color: rgba(0,0,0,0);
    outline: none;
}
input::placeholder{
    color: #381B02;
}
textarea::placeholder{
    color: #381B02;
}
html{
}
body{
    background: #F1F1F1;
    font-size: 16px;
    color: #fff;
}
.md-toast .md-popup{
    z-index: 10000!important;
}

html,body{
    height: 100%;
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
img{
    display: block;
    width: 100%;
}
